body {
    padding: 0%;
    margin: 0%;
    border: 0%;
    display: flex;
    flex-direction: row;
    height: auto;
    box-sizing: border-box;
}

@font-face {
    font-family: Odin;
    src: url(./Odin-font.ttf);
}

.left {
    background-image: url(./form-image.jpg);
    height: auto;
    width: 50%;
    background-repeat: no-repeat; 
    background-size: cover;
}

.right {
    height: 100vh;
    width: 70%; 
}

.background-for-title {
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    color: rgb(240, 248, 255);
    font-family: Odin ,'Times New Roman', Times, serif;
    font-size: 5vw;
    position: relative;
    width: fit-content;
}

.logo {
    height: 7vw;
    position: relative;
}

.first-section {
    width: auto;
    height: 35vh;
    background-color: rgb(214, 249, 255);
}

label {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}

input {
    margin-right: 120px;
    margin-left: 12px;
    height: 17px;
    width: 15vw;
    border-radius: 5px;
}

input:focus {
    box-shadow: 1px 1px 8px;
    border: 2px solid rgb(85, 156, 248);
    outline: none;
}

#email:invalid {
    outline: none;
    border: 2px solid red
}
